:root {
    --default-font-familiy: "Outfit", sans-serif;
    --second-font-family:  "Young Serif", serif;
}

body {
    font-family: var(--default-font-familiy);
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
}

h1 {
    font-family: var(--second-font-family);
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}

h3 {
    font-family: var(--second-font-family);
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

h5 {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

p {
    font-family: var(--default-font-familiy);
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

strong {
    color: hsl(30, 10%, 34%);
    font-weight: 700;
}

hr {
   color: hsl(30, 18%, 87%);
   opacity: 0.8;
}

p {
    font-size: 1rem;
    font-family: var(--default-font-familiy);
}

main li {
    color: hsl(14, 45%, 36%);
    padding-left: 13px;
    font-weight: 600;
    margin-bottom: 7px;
}

.section-one ul {
    list-style-type: none;
}

.section-one li {
    color: hsl(30, 10%, 34%);
    position: relative;
    font-weight: 400;
    padding-left: 13px;
    margin-bottom: 7px;
 }

li:before {
    content: '•';
    color:  hsl(332, 51%, 32%); 
    position: absolute;
    left: -1em;
    font-size: 20px;
  }

.container {
    max-width: 900px;
}

.hero {
    background-color: hsl(0, 0%, 100%); 
    padding: 30px;
    border-radius: 15px;
}

.section-one {
    background-color: hsl(330, 100%, 98%);
    padding: 14px;
    font-family: var(--default-font-familiy);
    font-weight: 400;
    border-radius: 10px;
}

.section-two ul {
    list-style-type: none;
}

.section-two li {
    position: relative;
    padding-left: 13px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 7px;
}

.section-two li:before {
    content: '•';
    position: absolute;
    color: hsl(14, 45%, 36%);
}

.instructions {
  font-family: var(--default-font-familiy);
  color: hsl(30, 10%, 34%); 
  font-weight: 400;
}

.nutrition {
    font-size: 1rem;
    font-weight: 800;
    color: hsl(14, 45%, 36%);
    font-family: var(--default-font-familiy);
}